HelloSoap/WebContent/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.netroxtech.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.netroxtech.com" xmlns:intf="http://webservice.netroxtech.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.netroxtech.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="list">
    <complexType/>
   </element>
   <element name="listResponse">
    <complexType>
     <sequence>
      <element name="listReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello2">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello2Response">
    <complexType>
     <sequence>
      <element name="sayHello2Return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="listResponse">

      <wsdl:part element="impl:listResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part element="impl:list" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHello2Request">

      <wsdl:part element="impl:sayHello2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHello2Response">

      <wsdl:part element="impl:sayHello2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hello">

      <wsdl:operation name="list">

         <wsdl:input message="impl:listRequest" name="listRequest">

       </wsdl:input>

         <wsdl:output message="impl:listResponse" name="listResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello2">

         <wsdl:input message="impl:sayHello2Request" name="sayHello2Request">

       </wsdl:input>

         <wsdl:output message="impl:sayHello2Response" name="sayHello2Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHello2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHello2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloService">

      <wsdl:port binding="impl:HelloSoapBinding" name="Hello">

         <wsdlsoap:address location="http://localhost:8080/HelloSoap/services/Hello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
